.loading{
  height: 80px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.metaloading{
  background: #ececec;
  height: 12px;
  width: 20%;
}
.text_loading{
  background: #ececec;
  height: 12px;
  width: 100%;
}
