.text_area_fake{
  border: 1px dotted #3498db;
  min-height: 120px;
  border-radius: 5px;
  padding: 10px;

}
.input{
  width: 100px;
  border: none;
  outline: none;
}
.tag{
  position: relative;
  cursor:pointer;
  background: #39f;
  padding: 4px 5px;
  font-size: .9em;
  border-radius: 3px;
  color: #fff;
  margin: 5px 0px;
  margin-right: 5px;
  overflow: hidden;
  border: 1px solid;
}
.tag:hover{
  border: 1px dashed red;

}
.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
