.content{
  background: #fff;
  color: gray;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  width: 100%;
  min-height: 212px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.box_success{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  width: 100%;
  min-height: 312px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.buttton_container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  max-width: 320px;
}
.button{
  width: 130px;
  background: #39f;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}
@media screen and (max-width:500px) {
  .box{
    font-size: 1.3em;
    min-height: 190px;
  }
  .box_success{
    font-size: 1.3em;
    min-height: 320px;
  }
  .buttton_container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .button:first-of-type{
    margin-bottom: 25px;
  }
}
