.content{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: gray;
}
.sections{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.sections:last-of-type{
  margin-right: 0px;
}
.icon{
  width: 23px;

}
.text{
  margin-left: 5px;
}


/* no logged  */
.buttons{
  min-width: 55px;
  text-align: center;
  cursor: pointer;
  padding: 4px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  font-size: .8em;
  color: gray;
}
.buttons:last-of-type{
  margin-right: 0;
}
