.content{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: #fff;
  padding: 10px 5px;
  border-radius: 5px;
}
.icon{
  display: block;
  margin-right: 19px;
  width: 48px;
}
.text{
  font-size: 1.2em;
  font-weight: bold;
  color: gray;
}
@media screen and (max-width:600px) {
  .icon{
    width: 30px;
  }
  .text{
    font-size: 1em;
  }
}
